<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1028495113599-isgbt4ooe9u1mv09keql35tfhnelaric.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1028495113599-isgbt4ooe9u1mv09keql35tfhnelaric</string>
	<key>API_KEY</key>
	<string>AIzaSyCFqEaciZYNz3E8kCtPrduqNErn9vR1oTg</string>
	<key>GCM_SENDER_ID</key>
	<string>1028495113599</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.toyou</string>
	<key>PROJECT_ID</key>
	<string>toyou-ce9ef</string>
	<key>STORAGE_BUCKET</key>
	<string>toyou-ce9ef.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1028495113599:ios:6ec01d2812fe5671f6ee4a</string>
</dict>
</plist>